body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme {
  background-color: #343a40;
  color: #f8f9fa;
}

.dark-theme #json-input {
  background-color: #1c1e21;
  color: #f8f9fa;
}

.dark-theme #json-output {
  background-color: #1c1e21;
  color: #f8f9fa;
}

.dark-theme #toggle-theme {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #f8f9fa;
}

#json-output {
  white-space: pre;
  background-color: #e9ecef; /* Eu percebi que o valor de background-color estava incompleto, então preenchi com um valor padrão. Modifique conforme necessário */
  padding: 1rem;
  border-radius: 5px;
  color: #343a40;
  font-size: 13px;
  width: 100%; /* Define a largura que você deseja aqui */
  overflow-x: auto; /* Isso torna o conteúdo interno rolável se exceder a largura */
}

/* ... O resto do seu CSS ... */
.flex-column-container {
  display: flex;
}

.flex-column-container > * {
  height: 100%;
}


h1 {
  transition: color 0.3s ease;
}

.form-floating textarea {
  background-color: #e9ecef;
}

#json-output::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#json-output::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 3px;
}

#toggle-theme {
  z-index: 1030;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.icon-moon, .icon-sun {
  font-family: FontAwesome;
}

/* Media queries para responsividade */
@media screen and (max-width: 576px) {
  .input-output-container {
    display: flex;
    flex-direction: column;
  }

  #json-input, #json-output {
    width: 100%;
  }
}


/* Estilo para tema claro (default) */
.custom-footer {
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; /* fundo claro do Bootstrap */
  border-top: 1px solid #e0e0e0;
}

.custom-footer a {
  color: #007bff; /* cor do link padrão do Bootstrap */
}

/* Estilo para tema escuro */
body.dark-theme .custom-footer {
  background-color: #343a40; /* fundo escuro do Bootstrap */
  border-top: 1px solid #555;
}

body.dark-theme .custom-footer a {
  color: #17a2b8; /* cor do link para o tema escuro */
}
